.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#search-line {
  display: flex;
  width: 180px;
  justify-content: center;
  text-align: center;
}
#search-btn {
  display: flex;
  justify-content: center;
  width: 70px;
}
@media (max-width: 200px) {
  #search-panel {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  /*  mobile */
  .main-page {
    display: flex;
    width: 100%;
  }
  #search-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #search-line {
    display: flex;
    width: 50%;
  }
  #search-btn {
    width: 50%;
  }
  .five-Days {
    display: flex;
    flex-direction: row;
  }
  .weekly {
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    font-size: 12px;

  }
}

@media (min-width: 700px) {
  /* web */
  .main-page {
    display: flex;
    justify-content: center;
  }
  #search-panel {
    display: flex;
    flex-direction: row;
  }
  #search-line {
    display: flex;
  }
  #search-btn {
  }
  .favorite-btn {
    display: flex;
    justify-content: center;
  }
  .five-Days {
display: flex;
flex-direction: row;
justify-content:  space-around;
  }
  .weekly {
    display: inline-flex;
    border: 6px solid black;
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    padding-left: +6px;
  }
}
